tml, body {
  height: 100%;
  width: 100%;
  }

header{
  height:15%;
  padding: 15px 0;
  margin:0px 30px;
  border-bottom: solid 2px black;
}

footer{
  height:10%;
  margin:0px 30px;
  border-top: solid 2px black;
}

.my-btn{
  margin:12px 0;
}

.my-btn-signup{
  margin-top:20px;
}

.sns{
  margin:15px 0;
}

.sns-btn{
  padding-right: 10px;
  color: black;
}

.top_s{
  padding-right:15px;
  padding-left: 15px;
}

.wrapper{
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 85px;
  margin-left: 85px;
}

.wrapper_col{
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 15px;
  margin-left: 15px;
}

.bkg_content{
  margin-top: 60px;
  margin-right: 300px;
  margin-left: 300px;
}

.title{
  border-bottom: solid 2px black;
  padding: 20px;
  margin: 15px 0;
}

.title_1{
  border-bottom: 1px solid #ccc;
  padding: 20px;
  margin: 15px 100px;
}

.title_2{
  border-bottom: 1px solid #ccc;
  padding: 0 20px;
  margin: 15px 100px;

}

.login-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  /* display: none;を追加してください */

}

.report_modal {
  position: absolute;
  top: 20%;
  left: 34%;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
  display: none;
}

.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

#signup-form, #login-form {
  width: 100%;
}

#signup-form h2, #login-form h2 {
  color: #5f5d60;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

#signup-form input, #login-form input {
  width: 320px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
}

#submit-btn {
  display: inline-block;
  padding: 14px 140px;
  background-color: #5dca88;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 10px auto;
  cursor: pointer;
}