/*a{
  margin: 0px 10px 0px 100px;

}*/

li{
  float: left;
  list-style-type: none;
}
li p{
  margin: 0px 10px 0px 10px;
  padding: 0px 5px 0px 5px;

}
li select{
  margin: 0px 10px 0px 10px;
}

.input{
  margin: 50px 520px;

}
.right{
  margin: 10px 100px;
}