header{
  height:15%;
  padding: 15px 0;
  margin:0px 30px;
  border-bottom: solid 2px black;
}

footer{
  height:10%;
  margin:0px 30px;
  border-top: solid 2px black;
}

.my-btn{
  margin:12px 0;
}

.my-btn-signup{
  margin-top:20px;
}

.sns{
  margin:15px 0;
}

.sns-btn{
  padding-right: 10px;
  color: black;
}

.wrapper{
  margin: 60px 0px;


}
.container{
  height: 500px;
}
.container img{
  width: 400px;
  height: 400px;
}

.top-content{
  margin-top: 230px;
}

.btn-default{
  background-color: #212529eb;
  color: gray;



.area{
  margin: 0 15px;
  padding: 10px 0;
}

.title{
  padding: 20px;
  margin: 15px 0;
  font-size: 30px;
}

.circle{
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #212529eb;
  text-align:center;
  line-height: 200px;
  vertical-align: middle;
  font-size: 23px;
  margin: 20px;
}

.maltiply{
  font-size: 50px;
}

.description{
  font-size: 25px;
}
.middle-content{
  margin:20px 15px;
  padding: 0 15px;
}

.title2{
  border: solid 2px black;
  padding: 10px;
  margin: 10px auto;
}


.report{
  margin-bottom: 100px;
}